body {
  background-color: rgba(241, 243, 244, 0.927);
  font-family: Lato, sans-serif;
  font-size: medium;
}

.LeaderBoard-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-one {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.list {
  list-style: none;
  border-style: solid;
  padding-left: 0;
}

.item-0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.item {
  display: flex;
}

.item:nth-of-type(odd) {
  background-color: rgb(243, 240, 240);
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.refresh {
  height: 40px;
  width: 25%;
}

.display {
  flex: 1;
}

.input {
  flex: 1;
}

#add-button {
  height: 50px;
}

input {
  height: 40px;
}
